.Root {
  display: flex;
  flex-direction: column;
}

.List {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.Trigger:hover {
  background-color: hsla(0, 0%, 100%, 0.06);
}
