.Root {
  width: 300px;
  cursor: pointer;
  border-radius: var(--radius-6);
  background-color: var(--gray-9);
  border: 1px solid hsla(0, 0%, 100%, 0.1);

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}

.Root[data-state="open"] {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.Title {
  padding: 0.5rem;
  color: white;
}

.DescriptionContainer {
  color: var(--gray-4);
  font-size: 14px;
  padding: 0.5rem;
}

.Repository {
  background-color: white;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 2px 10px var(--black-a7);
}

.CollapsibleContent {
  overflow: hidden;
  will-change: height;
}

.CollapsibleContent[data-state="open"] {
  animation: slideDown 400ms cubic-bezier(0.87, 0, 0.13, 1);
}

.CollapsibleContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
    transform: translateY(0);
  }
  to {
    height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
}
